
.toolbarInicial { /* estiliza a barra inicial do site*/
    background-color: rgb(83, 223, 214); /*cor do fundo*/
    border-end-end-radius: 15px; /* raio da borda inferior direita*/
    border-end-start-radius: 15px; /* raio da borda inferior esquerda*/
    height: 65px; /* tamanho VERTICAL da div*/
    display: flex;  /* Usa o layout flexivel para alinhar os botoes dentro do conteiner */
    z-index: 1; /* Define a ordem de empilhamento, trazendo a barra a frente de outros elementos */


}

.logo { /* estiliza e posiciona a logo do site*/
    position: relative;
    float: left; 
    left: 10px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    top: 5px; /* posicao da div em relacao ao topo*/
    width: 30%; /* Define a largura do corpo */
    width: 150px;



}

.redes-sociais ul li { /* estiliza os links das redes sociais*/
    display: inline-block;
    margin-left: 6%;
    list-style: none;


}

.redes-sociais { /* Posiciona o conteiner das redes sociais*/
    width: 30%; /* Define a largura do corpo */
    width: 220px;
    display: inline-block;
    white-space: nowrap; /* Impede a quebra de linha dentro do contêiner */

}

.titulo { /* Estiliza o titulo da barra inicial*/
    display: inline-block;  /* Exibe o título em linha com outros elementos */
    position: relative;
    top: -13px; /* Posicao da div em relacao ao topo*/
    width: 53%; /* Define a largura do título */
    color: white;  /* Define a cor do texto */
    font-family: "Pacifico", cursive; /* Define a família da fonte */
    font-weight: 400; /* Define o peso da fonte */
    font-style: normal;  /* Define o estilo da fonte */
    display: flex;
    white-space: nowrap; /* Impede a quebra de linha dentro do contêiner */
    text-shadow: 1px 1px 0px #c0c0c0; /* Adiciona uma sombra ao texto */

}

.card1 { /* estilizam e posicionam o card de conteudo*/
    position: absolute;
    display: flex;
    top: 60px; /* posicao da div em relacao ao topo*/
    left: 40px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    right: 500px;
    width: 800px;
    height: 300px; /* tamanho VERTICAL da div*/
    margin: 100px; /* Define a margem ao redor do contêiner */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 12px #919191aa; /* Adiciona uma sombra ao redor do contêiner */

}

.card2 { /* estilizam e posicionam o card de conteudo*/
    position: absolute;
    top: 500px; /* posicao da div em relacao ao topo*/
    left: 40px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    right: 500px;
    width: 800px;
    height: 330px; /* tamanho VERTICAL da div*/
    margin: 100px; /* Define a margem ao redor do contêiner */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 12px #919191aa;


}

.card3 { /* estilizam e posicionam o card de conteudo*/
    position: absolute;
    top: 1020px; /* posicao da div em relacao ao topo*/
    left: 850px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    width: 800px;
    height: 380px; /* tamanho VERTICAL da div*/
    margin: 100px; /* Define a margem ao redor do contêiner */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 12px #919191aa;


}

.card4 { /* estilizam e posicionam o card de conteudo*/
    position: absolute;
    top: 1500px; /* posicao da div em relacao ao topo*/
    left: 40px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    right: 400px;
    width: 800px;
    height: 480px; /* tamanho VERTICAL da div*/
    margin: 100px; /* Define a margem ao redor do contêiner */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 12px #919191aa;


}

.card5 { /* estilizam e posicionam o card de conteudo*/
    position: absolute;
    top: 2200px; /* posicao da div em relacao ao topo*/
    left: 850px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    width: 850px; /* Define a largura */
    height: 480px; /* tamanho VERTICAL da div*/
    margin: 100px;  /* Define a margem ao redor do contêiner */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 12px #919191aa;


}

.card6 { /* estilizam e posicionam o card de conteudo*/
    position: absolute;
    top: 3100px; /* posicao da div em relacao ao topo*/
    left: 40px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
    width: 800px; /* Define a largura */
    height: 480px; /* tamanho VERTICAL da div*/
    /*height: auto;  Define a altura automatica */
    /*width: auto;  Define a largura automatica */
    margin: 100px; /* Define a margem ao redor do contêiner */
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 12px #919191aa;


}


.font1 { /* define o estilo da fonte dos conteudos dos cards*/
    font-size: 28px;
    margin: 30px;
}

.container-buttons { /* conatiner dos botoes da barra de inicio*/
    position: relative;
    top: 13px; /* posicao da div em relacao ao topo*/
    display: grid;
    justify-content: space-evenly;
    width: 300px;  /* Define a largura */
    width: 20%; /* Define a largura do corpo */
    height: 40px; /* tamanho VERTICAL da div*/
    display: inline-block;
    white-space: nowrap; /* Impede a quebra de linha dentro do contêiner */
    list-style: none;
    display: flex;  /* Usa o layout flexivel para alinhar os botões dentro do conteiner */

}

.buttons-toolbar {  /* Estilo e animacao dos botoes */
    width: 100px; /* Define a largura */
    height: 40px; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: white;
    border-top: transparent;
    border-bottom: transparent;  /* Define o fundo transparente */
    color: white;
    row-gap: nowrap; /* Impede a quebra de linha dentro do contêiner */
    border-style: double; /* Define o estilo da borda */
    text-decoration: none; /* Remove a decoração do texto */
    padding: 10px 15px; /* Define o preenchimento interno dos botões */
    position: relative;
    /* transition: color 0.3s; Adiciona uma transição suave para a mudança de cor */

}

.finalPage {  /* final da pagina*/
    position: absolute;
    display: flex;
    justify-content: center;
    top:420%;
    width: 800px; /* Define a largura */
    height:402px;  
    width: 100%; /* Define a largura automatica */
    background-image: linear-gradient(to top, rgb(25, 124, 118),transparent ); /* animacao de troca de cor*/
}

.finalPageConteudo {
    position: relative;
    display: flex;
    top:200px;
    height: 200px;
    width: 90%;
    border-top: 2px solid white; 
    
    
}

.img1 video{  /* primeira imagem de fundo*/
    position: absolute;
    top: -10px; /* posicao da div em relacao ao topo*/
    height: 1100px; /* tamanho VERTICAL da div*/
    width: 100%; /* Define a largura completa */
    display: flex;  /* Usa o layout flexivel para alinhar os botoes dentro do contêiner */
    z-index: -1;   /* Coloca a imagem atrás de outros elementos */

}

.img2 { /* segunda imagem de fundo*/
    position: absolute;
    top: 2250px; /* posicao da div em relacao ao topo*/
    height: auto; /* Define a altura automatica */
    height: 900px; /* tamanho VERTICAL da div*/
    width: 100%; /* Define a largura completa */
    display: flex;  /* Usa o layout flexível para alinhar os botões dentro do conteiner */
}


body { /* corpo do site*/

    height: 440%; /* tamanho VERTICAL da div*/
    width: 100%; /* Define a largura completa */
    margin: 0%;  /* Remove a margem ao redor do corpo */
    background-image: linear-gradient(to left, white, rgb(89, 239, 189)); /* animacao de troca de cor*/
    animation: gradient-keyframes 6s infinite alternate; /* Define o tipo da animacao */
    background-size: 500% 100%; /* tamanho do site*/
}

body::-webkit-scrollbar { /* elimina scrooll so site*/
    display: none;
}

@keyframes gradient-keyframes { /* tamanhos da animacao*/
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

nav {
    position: relative; /* animacao dos botoes*/
}

.buttons-toolbar::after { /* animacao dos botoes*/
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0px; 
    height: 2px; /* tamanho VERTICAL da div*/
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
}

.buttons-toolbar:hover::after,
.buttons-toolbar.active::after { /* animacao dos botoes*/
    width: 100%; /* Define a largura completa */
    left: 0px; /* Define a distancia do contêiner em relaçao ao lado esquerdo */
}

.buttons-toolbar:hover { /* animacao dos botoes*/
    color: #ffffff;


}

.buttons-toolbar.active { /* animacao dos botoes*/
    color: #ffffff;

}